#menu-titulo {
    font-size: 2rem;
    background-color: black;
    padding: 20px 40px;
    text-align: center;
}

#menu-conteudo {
    background-color: #BBB;
}

.menu-coluna {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-coluna>a {
    color: black;
    padding: 8px 15px;
    text-decoration: none;
}

.menu-coluna>a:hover {
    background-color: #999;
}